[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
mlflow = "*"
scikit-learn = "*"

[dev-packages]
pytest = "*"
deepdiff = "*"
pylint = "==2.14.4"
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
